* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}



header {
  background-color: #ffffff;
  color: #000;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  width: 206px;
  height: 101px;
}

nav {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  display: none;  
}

.hamburger-menu input {
  display: none;
}

.hamburger-menu .menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu .menu-icon__line {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px 0;
  transition: all 0.3s ease;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #FA4A0C;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  background-color: #f0f0f0;
  z-index: 1001;
  transition: right 0.3s ease;
  padding-top: 60px;
}

.sidebar.active {
  right: 0;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #FA4A0C;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  display: block;
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

.menu-icon {
  font-size: 28px;
  background: none;
  border: none;
  padding: 0;
}

.full-width {
  background-image: url("/assets/img/food.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 619px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  z-index: 1;
}

.overlay-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: white;
}

.main-text {
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  font-weight: 700;
  color: white;
}

.download-text {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #f6f6f6;
}

.download-buttons {
  margin-top: 20px;
  border-radius: 10px;
}

.download-button {
  width: 200px;
  height: 60px;
  background-color: #fa4a0c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
  background-color: #b4380a;
  color: #ffffff;
}

.download-button-transparent {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button-transparent:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fa4a0c;
}

#HR,
#how-it-works {
  margin-top: 40px;
}

.container-tell1,
.container-HR {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -250px;
}

.container-tell1 img,
.container-HR img {
  max-width: 90%;
}

.how-it-works-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-align: center;
  opacity: 0.8;
  padding: 20px 0;
  margin: 20px 0;
}

.container-tel2,
.container-tel2-reverse {
  display: flex;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.text-container {
  width: 568px;
}

h1 {
  font-family: Montserrat;
  font-size: 24px;
  color: #fa4a0c;
}

h5 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
}

.desktop {
  position: relative;
  background-image: url("/assets/img/kone.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 619px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.content2 {
  text-align: center;
  color: white;
  z-index: 1;
}

.download-text2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.available-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.download-buttons-2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.download-button-2 {
  width: 200px;
  height: 60px;
  background-color: #fa4a0c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button-2:hover {
  background-color: #b4380a;
  color: #ffffff;
}

.download-button-transparent-2 {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button-transparent-2:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fa4a0c;
}

.footer {
  background-color: #ffffff;
  color: #000;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo2 {
  width: 246px;
  height: 102px;
}

.footer-social {
  display: flex;
  gap: 24px;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
}

@media (max-width: 758px) {
  .hamburger-menu {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav ul li:last-child {
    margin-bottom: 0;
  }

  .full-width {
    height: auto;
    padding: 50px 0;
  }

  .main-text {
    font-size: 32px;
  }

  .download-buttons {
    flex-direction: column;
    align-items: center;
  }

  .download-button {
    width: 30%;
    margin: 10px 0;
    z-index: 10 !important;
  }

  .container-tell1 {
    margin-top: -110px;
  }

  .how-it-works-text {
    font-size: 32px;
  }

  h1 {
    font-size: 19px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 15px;
  }

  .container-tel2,
  .container-tel2-reverse {
    display: flex;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
  }

  .text-container {
    width: 100%;
    text-align: center;
    font-size: 28px;
  }

  .logo2 {
    width: 150px;
    height: auto;
  }

  .desktop {
    height: auto;
    padding: 20px;
  }

  .download-text2 {
    font-size: 28px;
  }

  .available-text {
    font-size: 18px;
  }

  .download-buttons-2 {
    gap: 5px;
  }

  .download-button-2,
  .download-button-transparent-2 {
    width: 150px;
    height: 50px;
    font-size: 16px;
  }

  .footer-text {
    text-align: center;
  }
}

@media (max-width: 481px) {
  .footer-text {
    padding-top: 14px;
    width: 100%;
  }

  .footer-logo,
  .footer-social {
    width: 50%;
  }
}

@media (min-width: 758px) {
  .container-tel2 {
    flex-direction: row;
  }

  .container-tel2-reverse {
    flex-direction: row-reverse;
  }

  .image-container {
    width: 50%;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .text-container {
    width: 50%;
    text-align: left;
  }

  .container-tel2-reverse .image-container {
    margin-right: 0;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }

  nav {
    display: none;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav ul li:last-child {
    margin-bottom: 0;
  }

  .sidebar {
    width: 100%;
  }
}


@media (max-width: 431px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    z-index: 1001;
    transition: right 0.3s ease;
    padding-top: 60px;
  }

  .sidebar.active {
    right: 0;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
  }

  .sidebar .closebtn {
    /* position: absolute; */
    top: 0;
    /* right: 25px; */
    font-size: 36px;
    /* display: block; */
    /* cursor: pointer; */
  }

  #overlay {
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    /* width: 100%;
    height: 100%; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
  }
}