* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}




header {
  display: flex;
  justify-content: space-around;
  height: 100%; 
  background-color: #ffffff;
  color: #000;
  /* padding: 10px 0; */
  /* position: relative; */
  /* z-index: 1000; */
}



.logo {
  width: 206px;
  height: 101.76px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
 
  
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #FA4A0C;
}

.full-width {
  position: relative;
  background-image: url("/assets/img/food.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 619px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.content {
  text-align: center;
  position: relative;
  z-index: 1;
}

.overlay-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: white;
}

.main-text {
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  font-weight: 700;
  color: white;
}

.download-text {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #f6f6f6;
}

.download-buttons {
  margin-top: 20px;
  border-radius: 10px;
}

.download-button {
  width: 200px;
  height: 60px;
  background-color: #fa4a0c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
  background-color: #c53d09;
  color: #ffffff;
}

.download-button-transparent {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button-transparent:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fa4a0c;
}

#HR,
#how-it-works {
  margin-top: 40px; 
}
.container-tell1,
.container-HR {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -250px;
}

.container-tell1 img,
.container-HR img {
  max-width: 100%;
}

.how-it-works-text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-align: center;
  opacity: 0.8;
  padding: 20px 0;
  margin: 20px 0;
}

.container-tel2,
.container-tel2-reverse {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.container-tel2 .image-container,
.container-tel2-reverse .image-container {
  width: 400px;
  height: 525px;
  margin-right: 20px;
}

.container-tel2-reverse .image-container {
  margin-right: 0;
  margin-left: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.text-container {
  width: 568px;
}

h1 {
  font-family: Montserrat;
  font-size: 24px;
  color: #fa4a0c;
}

h5 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
}

.desktop {
  position: relative;
  background-image: url("/assets/img/kone.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 619px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.desktop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

.content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.download-text2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.available-text {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.download-buttons-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.download-buttons-2 .download-button,
.download-buttons-2 .download-button-transparent-2 {
  width: 200px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-buttons-2 .download-button {
  background-color: #fa4a0c;
  color: white;
}

.download-buttons-2 .download-button:hover {
  background-color: #a13206;
  color: #ffffff;
}

.download-buttons-2 .download-button-transparent-2 {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-buttons-2 .download-button-transparent-2:hover {
  background-color: rgba(143, 119, 119, 0.2);
  color: #fa4a0c;
}

.footer {
  background-color: #ffffff;
  color: #000;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo2 {
  width: 246px;
  height: 102px;
}

.footer-social {
  display: flex;
  gap: 24px;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  flex-wrap: wrap;
}

@media (max-width: 758px) {
  .hamburger-menu {
    display: flexbox;
    cursor: pointer;

  }
  .container-tell1{
    display: flex;
    align-items: center;
    margin-top: auto;
  }
  
  
  .hamburger-menu div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .full-width {
    height: auto;
    padding: 50px 0;
  }

  .main-text {
    font-size: 32px;
  }

  .download-buttons {
    flex-direction: column;
    align-items: center;
  }

  .download-button {
    width: 30%;
    margin: 10px 0;
  }
.container-tell1{
  width: 450px;
  height: auto;
}
  .container-tel2, .container-tel2-reverse {
    display: flex;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .text-container {
    width: 100%;
    text-align: center;
    font-size: 28px;
    
  }

  .logo2 {
    width: 150px;
    height: auto;
  }
}

@media (min-width: 758px) {
  .container-tel2 {
    flex-direction: row;
  }
  
  .container-tel2-reverse {
    flex-direction: row-reverse;
  }

  .image-container {
    width: 50%;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .text-container {
    width: 5  0%;
    text-align: left;
  }

  .container-tel2-reverse .image-container {
    margin-right: 0;
    margin-left: 20px;
  }
}
